<header class="header" role="banner">
  {% assign default_pages = site.pages | map: "path" %} {% assign pages =
  site.navigation | default: default_pages %}
  <nav class="navbar navbar-light bg-light">
    <ul class="nav justify-content-center">
      {% if pages %} {% for path in pages %} {% assign page = site.pages |
      where: "path", path | first %} {% if page.title %}
      <li class="nav-item">
        <a class="nav-link" href="{{ page.url | relative_url }}"
          >{{ page.title | escape }}</a
        >
      </li>
      {% endif %} {% endfor %} {% endif %}
    </ul>
  </nav>
</header>
